# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example

# Build outputs
dist/
www/
apk/

# Android build outputs & local config
android/.gradle/
android/build/
android/app/build/
android/local.properties

# Logs
*.log
npm-debug.log*

# OS / Editor files
.DS_Store
Thumbs.db
ehthumbs.db
.vscode/
.idea/
